{% extends "webfleetbigui/baseSuperAdministrador.html" %}
{% load staticfiles %}
{% block titulo %}Admin-CrearTenant{% endblock %}

{% block codigoPrincipal %}
<!-- Estilos -->
<link href="{% static "sbadmin/css/plugins/dataTables.bootstrap.css" %}"  rel="stylesheet">
<link href="{% static "select/css/bootstrap-select.min.css" %}"           rel="stylesheet">
<link href="{% static "datetimepicker/css/bootstrap-datetimepicker.min.css" %}"           rel="stylesheet">
<!-- <link href="{% static "bootstrapSwitch/css/bootstrap-switch.min.css" %}"           rel="stylesheet"> -->
<link href="{% static "select/css/bootstrap-select.min.css" %}"           rel="stylesheet">
<!-- <link href="{% static "validator/css/bootstrapValidator.min.css" %}" rel="stylesheet" type="text/css"> -->
<link href="{% static "css/base.css" %}"  rel="stylesheet">

<!-- Bibliotecas -->
<script src="{% static "sbadmin/js/plugins/dataTables/jquery.dataTables.js"     %}"></script>
<script src="{% static "sbadmin/js/plugins/dataTables/dataTables.bootstrap.js"  %}"></script>
<script src="{% static "moment/moment-with-locales.js"      %}"></script>
<script src="{% static "datetimepicker/js/bootstrap-datetimepicker.min.js"      %}"></script>
<script src="{% static "archivo/bootstrap-filestyle.min.js" %}"></script>
<script src="{% static "select/js/bootstrap-select.min.js" %}"></script>
<script src="{% static "mustache/mustache.js"                                   %}"></script>
<script src="{% static "validatorNuevo/validator.js" %}"></script>
<!-- <script src="{% static "validator/js/language/es_ES.js" %}"></script> -->
<!-- <script src="{% static "bootstrapSwitch/js/bootstrap-switch.min.js" %}"></script>-->

{% verbatim %}{% endverbatim %}


<script>

function enviarTenant(){
    var nombreTenant           		= $('#formNombreTenant')	.val();
    var codigoTenant           		= $('#formTenant')			.val();
    var nit           				= $('#formIdentificacion')	.val();
    var telefono           			= $('#formTelefono')		.val();
    var direccion           		= $('#formDireccion')		.val();
    var idImagen           			= $('#idImagen')			.val();
    var celularEmergencia           = $('#formCelularEmergencia')			.val();
    var correo           			= $('#formCorreo')			.val();
    
    

    var peticion    = { 'autenticacion': {  'usuario' : config.getUsuarioLogin(),
                                            'token'   : config.getToken(),
                                            'tenant'  : "{{tenant}}",
                                            
                                         },
                        'data'         : {  
		                        			'nombreGeneral'  	: nombreTenant,
											"urlTenant" 		: codigoTenant,
											"nit"				: nit,
											"idImagenLogo" 		: idImagen,
											"telefono" 			: telefono,
											"direccion" 		: direccion,
											"celularEmergencia" : celularEmergencia,
											"correo" 		    : correo,
		                        		 }
	
                      };
    bloquearTodo();
    var request = $.ajax({
	type        : "POST",
	url         : "{% url 'wsCrearTenant' %}",
	data        : {
            request :  JSON.stringify(peticion)
        },
	dataType    : "json"

    }).done(function(respuesta){
        if (respuesta.success){
    		notif({
                msg     : "El Tenant "+codigoTenant+" se creo exitosamente",
                type    : "success",
                multiline: true,
                position: "center"
        	});
        setTimeout(function() { window.location.href 	= "{% url 'superAdministradorTenants' tenant=tenant %}"; 
				  }, 
		       3000);	
        
        }
        else{
            notif({
                msg     : respuesta.error,
                type    : "error",
                position: "center"
            });
        }
    }).fail(function(jqXHR, textStatus){
        notif({
            msg     : "Falló la conexión",
            type    : "error",
            position: "center"
        });
    }).always(function(){
        desbloquearTodo();
    });
}

//Cambia imagen en pantalla la guarda en Nisabu y crea una copia local
function enviarImagen(input){
    var peticion    = {
    };
	
    var iinput		= input;
    var archivo     = $(input)[0].files[0];
    var formData    = new FormData();
    formData.append("request", JSON.stringify(peticion));
    if(typeof archivo != 'undefined'){
		formData.append("archivo", archivo);
    }

    bloquearTodo();
    request = $.ajax({
	type        : "POST",
	url         : wsbase+'/enviarImagen',
	//url         : wsbase+'/enviarArchivo',
	data        : formData,
	dataType    : "json",
	cache       : false,
	processData : false,
	contentType : false
    }).done(function(respuesta){
	if (respuesta.success){
	    notif({
	        msg     : "Archivo cargado",
	        type    : "success",
	        position: "center"
	    });
	    console.log(respuesta.url);
	    //agregarImagen(respuesta.id, respuesta.url, iinput);	    
	    $("#formImagen").attr("src", respuesta.url);
	    $("#idImagen").val(respuesta.id);	    
	    //$(iinput).filestyle('clear');
	}
	else{
	    notif({
	        msg     : respuesta.mensaje,
	        type    : "error",
	        position: "center"
	    });
	}
    }).fail(function(jqXHR, textStatus){
		if (text_status != "abort") {
		    notif({
		        msg     : "error",
		        type    : "error",
		        position: "center"
		    });
		}
    }).always(function(){
	desbloquearTodo();
    });

}




//Bloquea toda la interfaz para que no hagan nada.
function bloquearTodo(){
    $("input")		.prop('disabled', true);
    //$("select")		.prop('disabled', true);
    $('input[type="submit"], input[type="button"], button').prop('disabled', true);
    $('input[type="submit"], input[type="button"], button').prop('disabled', true);
}

//desloquea toda la interfaz para que haga algo.
function desbloquearTodo(){
    $("input")      .prop('disabled', false);
    $("select")     .prop('disabled', false);
    $('input[type="submit"], input[type="button"], button').prop('disabled', false);
    $('input[type="submit"], input[type="button"], button').prop('disabled', false);
}


// === Document ready!!! =======================================================
$(document).ready(function() {

	$('#formularioCrearTenant').validator().on('submit', function (e) {
	  if (e.isDefaultPrevented()) {
		notif({
                msg     : "Invalido campo",
                type    : "error",
                position: "center"
            });
	  } else {
	    enviarTenant();
	    e.preventDefault();
	  }
	});
	
	$(document).on('change', '#inputImagen', function() {
    	enviarImagen(this);
    });
	
	
});
// --- End document ready ------------------------------------------------------


</script>
{% endblock %}

{% block contenido %}
<body>
	
	<div id="page-wrapper" style="  margin: 3em; margin-top: 0;">
	
	    <div class="row">
	        <div class="col-lg-12">
	            <h1 class="">Clientes<small > Registro Nuevo Cliente</small></h1>
	             <!-- <div class="pos"> 
	            <form class="form-inline" role="form" >-->
					<!-- <a href="#" id="editarCliente" class="editarCliente"><i class="fa fa-pencil fa-fw" style="font-size: 1.5em;"></i> </a> -->
						<!-- div class="form-group inner-addon left-addon">
			  				<i class="mdi-action-search" style="position: absolute !important; color: #d2d2d2;"></i>
			    			<div class="form-group  divBuscar">
		                      <input id="inputBuscar" type="text" class="form-control buscarInput" placeholder="Buscar">
		                    </div>
			  			</div>
						<button id="guardarDatosEditados" type="button" class="btn btn-success positionGuardar">
							Buscar
						</button>
				</form>
				</div> --> 
	        </div>
	        <!-- /.col-lg-12 -->
	    </div>
	    <!-- /.row -->
	    <div class="row">
	        <div class="col-lg-12">
	            <div class="panel panel-default">
	                <!-- /.panel-heading -->
	                <div class="panel-body">
						<form data-toggle="validator" role="form" id="formularioCrearTenant">
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label>Cliente</label>
										<input id="formTenant" name="formTenant" type="text" required class="form-control formTenant" required data-error="Ingrese un nombre de cliente sin usar mayúsculas y espacios ej. exxonmobil"
										pattern= "[a-z]+"
										/>
										<div class="help-block with-errors"></div>
									</div> 
									<div class="form-group">
										<label>Nombre</label>
										<input id="formNombreTenant" name="formNombreTenant" required type="text" class="form-control formNombreTenant" required data-error="Ingrese un nombre completo de cliente ej. Exxon Mobil de Colombia S.A"/>
										<div class="help-block with-errors"></div>
									</div>
									<div class="form-group">
										<label>Nit</label>
										<input id="formIdentificacion" name="formIdentificacion" type="text" class="form-control formIdentificacion" data-error="Ingrese un nit  ej. 59784526-0"/>
										<div class="help-block with-errors"></div>
									</div>
									<div class="form-group">
										<label>Correo</label>
										<input id="formCorreo" name="formCorreo" type="email" class="form-control formCorreo" required data-error="Ingrese un correo ej. camilo@gmail.com"/>
										<div class="help-block with-errors"></div>
									</div>
									<div class="form-group">
										<label>Dirección</label>
										<input id="formDireccion" name="formDireccion" type="text" class="form-control formDireccion" data-error="Ingrese una dirección ej. calle 6ta # 56-87"/>
										<div class="help-block with-errors"></div>
									</div>
									<div class="form-group">
										<label>Teléfono</label>
										<input id="formTelefono" name="formTelefono" type="text" class="form-control formTelefono"  data-error="Ingrese un teléfono ej. 45856668"/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-3" style="margin-left: 4em;">
									
									<div class="form-group">
										<label>Celular emergencia</label>
										<input id="formCelularEmergencia" name="formCelularEmergencia" required type="number" class="form-control formCelularEmergencia"  data-error="Ingrese un celular en caso de que se orpima el botón de pánico ej. 3105264785"/>
										<div class="help-block with-errors"></div>
									</div>
									
									<div class="form-group">
									    <label class="colorLetra">Imagen Logo</label>
									    <div style="text-align: center;">
									      <img id="formImagen" src="{% static "images/fondoimagen.png" %}" alt="" class="img-thumbnail fotocliente" style="height: 12em;">
									    </div>
									    <div class="form-group" id="formSeleccionarImagen">
									      <input type="hidden" id="idImagen" value="">
									      <input type="file"  id="inputImagen" class="filestyle" data-buttonName="btn-primary" data-buttonText="" placeholder="Cambiar imagen">
									    </div>
									    <script>$(":file").filestyle({buttonName: "btn-success" , buttonText:"", id:"formSeleccionarImagen"});
									    </script>
									 </div>
								</div>
								
							</div>
							
							<!-- <div id="menuContenedorPedidosAdicionales">
							</div>
							<div id="menuContenedorPedidosAdicionalesExworks">
							</div> -->
								
							<!-- <button id="" type="submit" class="btn btn-success">
								Guardar cliente
							</button> -->
							
							<button id="crearTenant" type="submit" class="btn btn-raised btn-success positionBoton">
								Crear cliente
							</button>
						</form>
					</div>
	                <!-- /.panel-body -->
	            </div>
	            <!-- /.panel -->
	        </div>
	        <!-- /.col-lg-12 -->
	    </div>
	
	</div>
<!-- /#page-wrapper -->

</body>


{% endblock %}
