{% extends "webfleetbigui/baseSuperAdministrador.html" %}
{% load staticfiles %}
{% block titulo %}Admin-Detalle Vehículo{% endblock %}

{% block codigoPrincipal %}
<!-- Estilos -->
<link href="{% static "sbadmin/css/plugins/dataTables.bootstrap.css" %}"  rel="stylesheet">
<link href="{% static "select/css/bootstrap-select.min.css" %}"           rel="stylesheet">
<link href="{% static "datetimepicker/css/bootstrap-datetimepicker.min.css" %}"           rel="stylesheet">
<link href="{% static "bootstrapSwitch/css/bootstrap-switch.min.css" %}"           rel="stylesheet">
<link href="{% static "select/css/bootstrap-select.min.css" %}"           rel="stylesheet">
<!-- <link href="{% static "validator/css/bootstrapValidator.min.css" %}" rel="stylesheet" type="text/css"> -->
<link href="{% static "css/base.css" %}"  rel="stylesheet">

<!-- Bibliotecas -->
<script src="{% static "sbadmin/js/plugins/dataTables/jquery.dataTables.js"     %}"></script>
<script src="{% static "sbadmin/js/plugins/dataTables/dataTables.bootstrap.js"  %}"></script>
<script src="{% static "moment/moment-with-locales.js"      %}"></script>
<script src="{% static "datetimepicker/js/bootstrap-datetimepicker.min.js"      %}"></script>
<!-- <script src="{% static "archivo/bootstrap-filestyle.min.js" %}"></script> -->
<script src="{% static "select/js/bootstrap-select.min.js" %}"></script>
<script src="{% static "mustache/mustache.js"                                   %}"></script>
<script src="{% static "validatorNuevo/validator.js" %}"></script>
<!-- <script src="{% static "validator/js/language/es_ES.js" %}"></script> -->
<script src="{% static "bootstrapSwitch/js/bootstrap-switch.min.js" %}"></script>

{% verbatim %}{% endverbatim %}


<script>

var gps = new Array();
function traerDatosVehiculo(){
	var peticion    = { 'autenticacion': {  'usuario' : config.getUsuarioLogin(),
                                            'token'   : config.getToken(),
                                            'tenant'   :"{{tenant}}",
                                              
                                            },
                        'data'         : { 
                        					'id': "{{idVehiculo}}",
                        					'idTenant': "{{idTenant}}",
                        				 }
                      };
    bloquearTodo();
    var request = $.ajax({
		            type        : "POST",
		            url         : "{% url 'wsDetalleVehiculoAdminTenant' %}",
		            data        : {
                        request :  JSON.stringify(peticion)
                    },
		            dataType    : "json"

		        }).done(function(respuesta){
                	if (respuesta.success){

                        cargarDatosDetalleVehiculo(respuesta.data);
                       }
                       else{
                       	notif({
                            msg     : respuesta.mensaje,
                            type    : "error",
                            position: "center"
                        });
                       }
                }).fail(function(jqXHR, textStatus){
                    notif({
                        msg     : "Falló la conexión",
                        type    : "error",
                        position: "center"
                    });
                }).always(function(){
                	desbloquearTodo();
                });
}

function cargarDatosDetalleVehiculo(data){
	//DATOS GENERALES
	$('#textoNombre')	.text(data.placa);
   
	$('#formPlaca')		.val(data.placa);
    $('#formMarca')		.val(data.marca);
    $('#formModelo')	.val(data.modelo);
    
    $('#formPlaca')		.text(data.placa);
    $('#formMarca')		.text(data.marca);
	$('#formModelo')	.text(data.modelo);

    var idGps				= data.idGps;
    var total				= gps.length;
    if (idGps == ""){
    	$('#grupoGps').append('<option value="'+total+'"> Sin gps </option>');
    	
    	var posicion    = gps.length;
    	$('#grupoGps')	.val(posicion);
    	$('#grupoGps')  .selectpicker('refresh');
    }
    else{
    	for(var i=0; i<gps.length;i++){
    		var datoGps		= gps[i];
    		var id			= datoGps.idGps;
    		if(id == idGps){
    			$('#grupoGps')	.val(i);
    			$('#grupoGps').selectpicker('refresh');
    		}
    	    		
    	}
    	
    	traerDatosGps(idGps);
    	
    }
  
    $('input[name="my-checkbox"]').bootstrapSwitch('readonly', false);
	if(data.activo){
	    $('input[name="my-checkbox"]').bootstrapSwitch('state',true);
	}else{
	    $('input[name="my-checkbox"]').bootstrapSwitch('state',false);
	}


	//console.log(opcionesAdicionalesPlataforma);
	// for (var i=0; i<opcionesAdicionalesPlataforma.length; i++){  
	// 		var dato   = opcionesAdicionalesPlataforma[i];
	// 		console.log(dato.idOpcionPlataforma);  
	// 		console.log(dato.descripcionOpcion);                                                                                                         
    //     	$("#select.grupoOpcionesPlataforma").append('<option value="'+dato.idOpcionPlataforma+'">'+dato.descripcionOpcion+'</option>');                                                         
	// 	}

	    // $('#select.grupoOpcionesPlataforma').selectpicker('refresh');
		// $('#select.grupoOpcionesPlataforma').selectpicker('deselectAll');
	 	// $('#select.grupoOpcionesPlataforma').selectpicker('refresh');

		//$('#grupoOpcionesPlataforma').val(1);
		//$("#grupoOpcionesPlataforma option[value='1']").prop('selected', true);

		//pinta el picker opciones plataforma
		pintarPickerOpcionesAdicionalesPlataforma(data.opcionesAdicionalesPlataforma);

}



//------ Cargar picker de gps----------------------------------------------------
function traerGps(){
    var peticion    = { 'autenticacion': {  'usuario' : config.getUsuarioLogin(),
                                            'token'   : config.getToken(),
                                            'tenant'  : "{{tenant}}",          
                                         },
                        'data'          : {      }
                      };
  
    var request = $.ajax({
	type        : "POST",
	url         : "{% url 'wsPickerGps' %}",
	data        : {
            request :  JSON.stringify(peticion)
        },
	dataType    : "json"

    }).done(function(respuesta){
        if (respuesta.success){

            cargarPickerGps(respuesta.data);
        }
        else{
            notif({
                msg     : respuesta.mensaje,
                type    : "error",
                position: "center"
            });
        }
    }).fail(function(jqXHR, textStatus){
        notif({
            msg     : "Falló la conexión",
            type    : "error",
            position: "center"
        });
    }).always(function(){
        
    });
}

function cargarPickerGps(data){
	
	if(data.length != 0){
	    //gps.push(data);
	    for(i = 0; i < data.length; i++){
	    	gps[i] = data[i];
	    }
	    
	    var totalDatos	= gps.length;
	    for (i = 0; i < totalDatos; i++){
			var itemgps = gps[i];
			var identificadorGps = itemgps.identificadorGps;
			$('#grupoGps').append('<option value="'+i+'">'+identificadorGps+'</option>');
	    }
	    
	    //totalDatos	= gps.length;
	 
    	//$('#grupoGps').append('<option value="'+totalDatos+'"> Sin gps </option>');
    
	  
	    $('#grupoGps').selectpicker('refresh');
		$('#grupoGps').selectpicker('deselectAll');
	 	$('#grupoGps').selectpicker('refresh');
	 	
 	}
 	traerDatosVehiculo();
}

function traerDatosGps(idGps){
	var peticion    = { 'autenticacion': {  'usuario' : config.getUsuarioLogin(),
                                            'token'   : config.getToken(),
                                            'tenant'  : "{{tenant}}",
                                              
                                            },
                        'data'         : { 
                        					'id': idGps,
                        				 }
                      };
    //bloquearTodo();
    var request = $.ajax({
		            type        : "POST",
		            url         : "{% url 'wsDetalleGps' %}",
		            data        : {
                        request :  JSON.stringify(peticion)
                    },
		            dataType    : "json"

		        }).done(function(respuesta){
                	if (respuesta.success){

                        anadirGpsAlPicker(respuesta.data);
                       }
                       else{
                       	notif({
                            msg     : respuesta.mensaje,
                            type    : "error",
                            position: "center"
                        });
                       }
                }).fail(function(jqXHR, textStatus){
                    notif({
                        msg     : "Falló la conexión",
                        type    : "error",
                        position: "center"
                    });
                }).always(function(){
                	//desbloquearTodo();
                });
}

function anadirGpsAlPicker(data){
	var totalDatos	= gps.length;
    var pos 		= totalDatos +1;
    
	gps.push(data);
	   
    $('#grupoGps').append('<option selected value="'+totalDatos+'">'+data.identificadorGPS+'</option>');
    totalDatos	= gps.length;
    $('#grupoGps').append('<option value="'+totalDatos+'"> Sin gps </option>');
    
    
    $('#grupoGps')	.selectpicker('refresh');
	$('#grupoGps')	.selectpicker('deselectAll');
 	$('#grupoGps')	.selectpicker('refresh');
 	
 	$('#formSim')	.text(data.numSimCard);
	$('#formImei')	.text(data.imei);
	$('#formTipo')	.text(data.tipoGps);
 	
}



function enviarVehiculo(){
    var placa	          			= $('#formPlaca')	.val();
    var marca           			= $('#formMarca')	.val();
    var modelo           			= $('#formModelo')	.val();
    var posicion           			= $('#grupoGps')	.val();
    var estado						= $('input[name="my-checkbox"]').bootstrapSwitch('state');
    var idgps						= "";
	var grupoOpcionesPlataforma  	= $('#grupoOpcionesPlataforma').val();
 	if(!(posicion == gps.length)){
 		var datoGps	= gps[posicion];
 		idgps		= datoGps.id;
 	}
 	
    var peticion    = { 'autenticacion': {  'usuario' : config.getUsuarioLogin(),
                                            'token'   : config.getToken(),
                                            'tenant'  : "{{tenant}}",          
                                         },
                        'data'         : {  
		                        		    'idTenant'		: "{{idTenant}}",
		                        		    'idVehiculo'	: "{{idVehiculo}}",
		                        		    'placa'  		: placa,
											"marca" 		: marca,
											"modelo"		: modelo,
											"estado"		: estado,
											"idGps"			: idgps,
											"opcionesAdicionalesPlataforma" : grupoOpcionesPlataforma
											
		                        		 }
                      };

    bloquearTodo();
    var request = $.ajax({
	type        : "POST",
	url         : "{% url 'wsEditarVehiculoAdminTenant' %}",
	data        : {
            request :  JSON.stringify(peticion)
        },
	dataType    : "json"

    }).done(function(respuesta){
        if (respuesta.success){
        	var nombre = $('#textoNombre').val();
    		notif({
                msg     : "El vehiculo del cliente "+nombre+" se editó exitosamente",
                type    : "success",
                multiline: true,
                position: "center"
        	});
        setTimeout(function() { window.location.href 	= "{% url 'superAdministradorDetalleTenant' tenant=tenant idTenant=idTenant %}"; 
				  }, 
		       3000);	
        
        }
        else{
            var mensaje = "";
            if(respuesta.data.existePlaca){
                mensaje = "La placa ya esta registrada"
            }

            notif({
                msg     : mensaje,
                type    : "error",
                position: "center"
            });
        }
    }).fail(function(jqXHR, textStatus){
        notif({
            msg     : "Falló la conexión",
            type    : "error",
            position: "center"
        });
    }).always(function(){
        desbloquearTodo();
    });
}



//Bloquea toda la interfaz para que no hagan nada.
function bloquearTodo(){
    $("input")		.prop('disabled', true);
    //$("select")		.prop('disabled', true);
    $('input[type="submit"], input[type="button"], button').prop('disabled', true);
    $('input[type="submit"], input[type="button"], button').prop('disabled', true);
}

//desloquea toda la interfaz para que haga algo.
function desbloquearTodo(){
    $("input")      .prop('disabled', false);
    $("select")     .prop('disabled', false);
    $('input[type="submit"], input[type="button"], button').prop('disabled', false);
    $('input[type="submit"], input[type="button"], button').prop('disabled', false);
}




function pintarPickerOpcionesAdicionalesPlataforma(data){  
	for (i=0; i<opcionesAdicionalesPlataforma.length; i++){  
		var dato   = opcionesAdicionalesPlataforma[i];                                                                                                         
		$("select.grupoOpcionesPlataforma").append('<option value="'+dato.idOpcionPlataforma+'">'+dato.descripcionOpcion+'</option>');                                                         
	}

	$('select.grupoOpcionesPlataforma').val(data);
	$('select.grupoOpcionesPlataforma').selectpicker('refresh');
	$('select.grupoOpcionesPlataforma').selectpicker('deselectAll');
	$('select.grupoOpcionesPlataforma').selectpicker('refresh');

}


// === Document ready!!! =======================================================
$(document).ready(function() {
	traerGps();
  	
	//$('#nombreTennant')			.text(config.getTennant);

	
	$('#formularioCrearVehiculo').validator().on('submit', function (e) {
	  if (e.isDefaultPrevented()) {
		notif({
                msg     : "Invalido campo",
                type    : "error",
                position: "center"
            });
	  } else {
	    enviarVehiculo();
	    e.preventDefault();
	  }
	});
	
	
	$('#grupoGps').change(function() {
  		//alert('The option with value ' + $(this).val() + ' and text ' + $(this).text() + ' was selected.');
  		var posicion = $(this).val();
  		var dato     = gps[posicion];
  				
  		
  		if(posicion == gps.length){
  			$('#contentNum')	.hide();
	  		$('#contentImei')	.hide();
	  		$('#contentTipo')	.hide();
  		}
  		else{
  			var numSimCard 	= dato.numSimCard;
  			var imei 		= dato.imei;
  			var tipoGps 	= dato.tipoGps;
  			
  			$('#contentNum')	.show();
	  		$('#contentImei')	.show();
	  		$('#contentTipo')	.show();
		
	  		$('#formSim')	.text(numSimCard);
	  		$('#formImei')	.text(imei);
	  		$('#formTipo')	.text(tipoGps);
  		}
  		
	});

});
// ------------------------------ End document ready ------------------------------------------------------


</script>
{% endblock %}

{% block contenido %}
<body>
	
	<div id="page-wrapper" style="  margin: 3em; margin-top: 0;">
	
	    <div class="row">
	        <div class="col-lg-12">
	            <h1 class="">Vehículos<small > Detalle vehículo <span id="textoNombre"></span> </small></h1>
	        </div>
	        <!-- /.col-lg-12 -->
	    </div>
	    <!-- /.row -->
	    <div class="row">
	        <div class="col-lg-12">
	            <div class="panel panel-default">
	                
	                <!-- /.panel-heading -->

	                <div class="panel-body">
						<form data-toggle="validator" role="form" id="formularioCrearVehiculo">
							<div class="row	 iconos">
							    <div class="col-md-5 col-md-offset-7">
							      <span id="checkEstado">
									<input type="checkbox" id="my-checkbox" name="my-checkbox" checked data-on-text="Activo" data-off-text="Inactivo" data-size="mini" data-on-color="success" data-off-color="danger" />
							
									<script>
									  $("[name='my-checkbox']").bootstrapSwitch();
									</script>
							      </span>
							    </div>
						    </div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<label>Placa</label>
										<input id="formPlaca" name="formPlaca" type="text" class="form-control formPlaca" required  data-error="Ingrese una placa ej. FGH644"/>
										<div class="help-block with-errors"></div>
									</div>
									<div class="form-group">
										<label>Marca</label>
										<input id="formMarca" name="formMarca" type="text" class="form-control formMarca" data-error="Ingrese una marca."/>
										<div class="help-block with-errors"></div>
									</div>
									<div class="form-group">
										<label>Modelo</label>
										<input id="formModelo" name="formModelo" type="number" class="form-control formModelo" data-error="Ingrese un modelo de vehículo ej. 2015"/>
										<div class="help-block with-errors"></div>
									</div>
									<div class="form-group">
										<label>Permisos</label>
										<div id="selectOpcionesPlataforma">
										  <select id="grupoOpcionesPlataforma" class="selectpicker grupoOpcionesPlataforma" multiple data-actions-box="true"  data-live-search="true" title="Ninguna" >
										  </select>  
										</div>
									</div>
								</div>
								<div class="col-md-4 col-md-offset-1">
									<div class="form-group">
									    <label  for="grupoGps">GPS</label><label> </label>
									    <div id="selectGps">
									      <select class="selectpicker" data-width="fit"  data-live-search="true" title="Seleccionar Gps" id="grupoGps" name="grupoGps">
										<!-- <option value="cif">Biomax Cali</option>
										     <option value="exworks">Exxon Mobil</option>
										<option value="cif">Terpel</option> -->
									      </select>
									    </div>
									</div>
									<div id="contentNum" class="form-group" >
										<label>Número SimCard</label><br />
										<label id="formSim" name="formSim" class="formSim" style=" color: #555"> </label>
									</div>
									<div id="contentImei" class="form-group">
										<label>Imei</label><br />
										<label id="formImei" name="formImei" class="formImei" style="color: #555"> </label>
									</div>
									<div id="contentTipo" class="form-group">
										<label>Tipo</label><br />
										<label id="formTipo" name="formTipo" class="formTipo" style="color: #555"> </label>
									</div>
									
								</div>
							</div>
				
							
							<button id="enviarVehiculo" type="submit" class="btn btn-raised btn-success  positionBoton enviarVehiculo">
								Actualizar Vehículo
							</button>
						</form>
					</div>
	                <!-- /.panel-body -->
	            </div>
	            <!-- /.panel -->
	        </div>
	        <!-- /.col-lg-12 -->
	    </div>
	
	</div>
<!-- /#page-wrapper -->

</body>


{% endblock %}
